{% extends "base.html" %}
{% load static %}

{% block title %}
| ICT Contracts  
{% endblock title %}

{% block content %}

<!-- page content -->
<div class="right_col" role="main">
<div class="">
<div class="page-title">
    
	<div class="title_left">
        <h3>Total ICT Projects:&nbsp;&nbsp;&nbsp;{{total_projects}} </small></h3>	
	</div>
	<div class="title_right">
		<div class="col-md-5 col-sm-5   form-group pull-right top_search">
		
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb bg-light">
					<li class="breadcrumb-item"><a href="{% url 'profiles:profile-list' %}">Profiles</a></li>
					<li class="breadcrumb-item active" aria-current="page">ICT Projects List</li>
				</ol>
			</nav>
		</div>
	</div>  
</div>
	<div class="title_right">
		<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
		<div class="input-group">
			<span class="input-group-btn">
				<!-- <form action="" method="GET">
					<input type="text" name="mobile_phone" value="{{request.GET.mobile_phone}}" 
					class="form-control" placeholder="Search...">
					<button type="submit" class="btn btn-primary text-white" >Go!</button>
				</form> -->
			</span>
		</div>
		</div>
	</div>
	<div class="clearfix"></div>

	<div class="row">
	<div class="col-md-12">
		<div class="x_panel">
		
		<div class="x_content">
			<div class="row">
				<div class="col-md-3 col-sm-6  ">
					<div class="pricing_footer bg-light">
						<div class="title" >
						
						
						</div>
					</div>
				</div>
                <div class="col-md-3 col-sm-6  ">
					
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="pricing_footer bg-light">
						<div class="title">
							
						</div>
					</div>

				</div>

			</div>

        <div class="card-box table-responsive"> 
				<!-- start project list -->
                <table class="table table-striped projects table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 3%"> #</th>
                            <th style="width: 15%">Project Name</th>           
                            <th style="width: 10%" > Start Date </th>
                            <th style="width: 10%">End Date </th>
                            <th style="width: 20%">Team</th>
                            <th style="width: 15%" >Progress</th> 
                            <th style="width: 10%"> Status </th> 
            
                            <th>More Info</th>                  
                        </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                    <tr>
                            <td style="width: 3%">
                                {{forloop.counter}}
                            </td>
                            <td style="width:20%">
                                {{ project.name}}
                            </td>
                            <td style="width: 10%">
                                {{project.start_date}}
                            </td>
                            <td style="width: 10%">
                                {{project.end_date}}
                            </td>
                            <td>
                                <ul class="list-inline">
                                    
								{% for team_member in project.team_members.all %}    
    
									<li class="list-inline-item">
										<img data-toggle="tooltip" title="{{team_member.name.full_name}} : {{team_member.project_role}}" class="avatar" alt="Avatar" class="table-avatar" src="{{team_member.name.photo.url}}">                              
									</li>  
							{% endfor %}

                                </ul>
                            </td>
                            <td class="project_progress">
                            <div class="progress progress_sm">
							<div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80"></div>
                            </div>
							80% Complete</small>
						</td>
                            <td class="vertical-align-mid" style="width: 10">
                                <div class="progress">
                                    {% if project.status == 'Completed' %}
                                    <div class="progress-bar progress-bar-success" data-transitiongoal="100">{{project.status}}</div>
                                    {% elif  project.status == 'Not Started' %}
                                    <div class="progress-bar progress-bar-secondary" data-transitiongoal="100">{{project.status}} </div>
                                    {% elif project.status == 'On Track'%}
                                    <div class="progress-bar progress-bar-primary" data-transitiongoal="100">{{project.status}}</div>
                                    {% elif project.status == 'Delayed'%}
                                    <div class="progress-bar progress-bar-warning" data-transitiongoal="100">{{project.status}}</div>
                                    {% else %}
                                    <div class="progress-bar progress-bar-danger" data-transitiongoal="100">{{project.status}} </div>
                                    {% endif %}
                                </div>
                            </td>
                            
                            <td >
                                <a href="{% url 'projects:project-detail' project.id %}" >
                                    <span class="glyphicon glyphicon-info-sign text-info"></span> Details
                                </a>
                            </td>                            
                            
                            {% empty %} 
                            <th colspan="8" class="text-center">No projects recorded yet!</th colspan="8">
                        </tr> 
    
                {% endfor %}
                    </tbody>
                </table>
			<!-- end project list -->
            <!-- Pagination Section -->
				<div class="row">
					<div class="col-md-12" justify-content-right>
						{% if page_obj.has_other_pages %}
						<ul class="pagination nav navbar-right mx-right" >
							{% if page_obj.has_previous %}
							<li class="page-item">
								<a href="?page={{page_obj.previous_page_number}}" class="page-link">Previous</a>
							</li>
						
							{% else %}
							<li class="page-item disabled">
								<a class="page-link">Previous</a>
							</li>
							{% endif %}
							{% for i in page_obj.paginator.page_range %}
							{% if page_obj.number == i %}
								<li class="page-item active">
								<a class="page-link">{{i}}</a>
								</li>
							{% else %}
								<li class="page-item">
								<a href="?page={{i}}" class="page-link">{{i}}</a>
								</li>
							{% endif %}
							{% endfor %}
							{% if page_obj.has_next %}
							<li class="page-item">
								<a href="?page={{page_obj.next_page_number}}" class="page-link">Next</a>
							</li>
							{% else %}
							<li class="page-item disabled">
								<a class="page-link">Next</a>
							</li>
							{% endif %}
						</ul>
						{% endif %}
					</div>
				</div>
				<!--End pagination -->
		</div>
		</div>
	</div>
	</div>
</div>
</div>
<!-- /page content -->
{% endblock content %}
